*{
	margin: 0px;
	padding: 0px;
	font-family: "sofia";
}
body{
	background-image: url("img/bg.jpg");
	background-size: cover;
}
.menu{
	background-color: darkturquoise;
	text-align: center;
	overflow: hidden;
}
.menu li{
	float: left;
	list-style-type: none;
	padding: 20px;
}
.menu li a{
	text-decoration: none;
	padding: 20px;
	color: green;
}
.menu li:hover {
	background-color: cyan;
}
.sub-menu-1{
	display: none;
}
.menu li:hover .sub-menu-1{
	display: block;
	background-color: darkturquoise;
	position: absolute;
	margin-top: 21px;
	margin-left: -19px;
	border: 2px solid cyan;
	border-top: none;
} 
.sub-menu-1 li{
	float: none;
	border-bottom: 1px solid cyan;
}
.sub-menu-1 li a{
	color: green;
}
li.right{
	background-color: cyan;
	float: right;
}
li.right a{
	color: green;
}
.active{
	background-color: cyan;
}
.section{
	margin-top: 100px;
}
.section h1{
	text-align: center;
	color: lightyellow;
}
.section p{
	text-align: center;
	color: lightyellow;
}
